@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

$light-gray: #bdbdbd;
$text-light: white;
$text-dark: black;
$border-radius: 1rem;
$bg-primary: #27cf9d;
$bg-secondary: lightslategray;
// $bg-secondary: #df2775;
$bg-danger: #df2775;
$primary-family: "Lato", sans-serif;
